
<div class="dashboard-page-container", id="dashboard">
  <!-- Sidebar -->
  <div class="w3-sidebar w3-bar-block w3-padding sidebar-bg w3-large pr-none sidebar" style="width:20%">
    
    <div class="w3-bar-item mb-3 mt-4">
        <%= link_to "My stats", root_path, class: "w3-bar-item w3-button hover-sidebar-list mb-4" %>
    <div>
    <div class="w3-bar-item mb-3 mt-4">
        <%= link_to "Progress photos", root_path, class: "w3-bar-item w3-button hover-sidebar-list mb-4" %>
    </div>
    <div class="w3-bar-item mb-3 mt-4">
        <%= link_to "Community", root_path, class: "w3-bar-item w3-button hover-sidebar-list mb-4" %>
    </div>
    <div class="w3-bar-item mb-3 mt-4">
        <%= link_to "Nutritional tips", root_path, class: "w3-bar-item w3-button hover-sidebar-list mb-4" %>
    </div>
    <div class="w3-bar-item mb-3 mt-4">
        <%= link_to "Contact", root_path, class: "w3-bar-item w3-button hover-sidebar-list mb-4" %>
    </div>
  </div>
 </div>
</div>

<div class="page">
    <h2 class="header-page"> This is week <%= @week.week_number %> </h2>
    <% Day.all.each do |day| %>
        <%= link_to day_path(day.id), class: "week-text" do  %>
            <div class="week">
                Day <%= day.day_number %>
            </div>
        <% end %>
    <% end %>
  </div>