
  <div>
    <h1> My Profile </h1>
    <p>Age: <%= @user.age %></p>
    <p>Weight: <%= @user.weight %></p>
    <p>Gender: <%= @user.gender %></p>
    <p>Height: <%= @user.height %></p>
    <p>Goal: <%= @user.goal %></p>
    <p>Experience: <%= @user.experience %></p>
  </div>
  
