
  <!-- Show user's info -->
  <p>Age: <%= @user.age %></p>
  <p>Weight: <%= @user.weight %></p>
  <p>Gender: <%= @user.gender %></p>
  <p>Height: <%= @user.height %></p>
  <p>Goal: <%= @user.goal %></p>
  <p>Experience: <%= @user.experience %></p>
  <!-- Show the form for updating the profile -->
  
