
<h1><%= @day.description %></h1>
<% @day.workout_days.each do |workout_day| %>
  <h2><%= workout_day.workout.name %></h2>
  <p><%= workout_day.workout.description %></p>
  <img src="<%= workout_day.workout.img_url %>" alt="Workout Image">
  <video width="560" height="315" controls>
    <source src="<%= workout_day.workout.video_url %>" type="video/mp4">
    Your browser does not support the video tag.
  </video>
<% end %>
